body{
    background:#333;
    color:#fff;
}

.red{
    color:yellow;
    font-size: 22px;
    font-weight:500px;
}
.blue{
    color: blue;
    font-size: 25px;
}
.navbar{
    border-bottom:3px solid#008ed6;
    background: #292b2c;
    opacity: 0.7;
}
#home-section{
    background: url(..//file10/image.jpg);
    background-size: cover;
    min-height: 675px;
}
